<footer>
	<div class="footer-clean bg-dark pt-5 pb-2 text-body" data-bs-theme="dark">
		<div class="container">
			<div class="row justify-content-center p-5">
				<div class="col-sm-4 col-md-3 nav-item p-2">
					<h3>快速訪問</h3>
					<ul>
						<li>
							<a href="#Features" class="nav-link">特色</a>
						</li>
						<li>
							<a href="/home/status" class="nav-link">狀態</a>
						</li>
						<li>
							<a href="/dashboard" class="nav-link">控制台</a>
						</li>
						<li>
							<a href="/home/commands" class="nav-link">命令</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-4 col-md-3 nav-item p-2">
					<h3>關於</h3>
					<ul>
						<li>
							<a href="/home/team" class="nav-link">團隊</a>
						</li>
						<li>
							<a href="/home/privacy" class="nav-link"
								>隱私政策</a
							>
						</li>
						<li>
							<a href="/home/terms" class="nav-link">服務條款</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-4 col-md-3 nav-item p-2">
					<h3>連結</h3>
					<ul>
						<li>
							<a href="/home/discord" class="nav-link"
								>支援伺服器</a
							>
						</li>
						<li>
							<a href="/home/invite_bot" class="nav-link"
								>邀請機器人</a
							>
						</li>
						<li>
							<a href="/home/github" class="nav-link">Github</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="page-footer font-small text-light mt-5">
			<div class="footer-copyright text-center">
				版權所有 © 2019 - 2023 |
				<a
					href="https://github.com/Youzi9601/"
					class="text-decoration-none text-body"
					>Youzi9601</a
				>
			</div>
		</div>
	</div>
</footer>
