<div
	id="info"
	data-bs-spy="scroll"
	data-bs-target="#mainmenu"
	data-bs-root-margin="0px 0px -40%"
	data-bs-smooth-scroll="true"
	class="scrollspy-example bg-body-tertiary rounded-2 min-vh-100"
	tabindex="0"
>
	<!-- use -->
	<section id="login" class="py-5">
		<div class="container text-center py-5">
			<h2 class="text-center mb-3"></h2>
			<a href="/dashboard/login" class="btn btn-primary"
				><%= user.username %></a
			>
		</div>
	</section>
</div>
